{% set title = "Open Letter to Gitea" %}
<!-- TODO set description and headline!!!  -->
{% set description = "The Gitea Community is asking Gitea Owners to correct conflicts of interest and restore Community Trust." %}
{% set headline = "Restoring Trust in the Gitea Project" %}


<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ title }} - {{ headline }} {% endblock title %}</title>
    <meta
      property="og:title"
	  content="{{ description }}"
    />
    <meta property="og:locale" content="en_US" />
    <meta
      name="description"
	  content="{{ description}}"
    />
    <meta
      property="og:description"
	  content="{{ description}}"
    />
	<link rel="canonical" href="{{ config.base_url }}" />
	<meta property="og:url" content="{{ config.base_url }}" />
	<meta property="og:site_name" content="{{ title }}" />
    <meta
      property="og:image"
      content="/logo.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:image"
      content="/logo.png"
    />
    <meta
      property="twitter:title"
	  content="{{ title }}"
    />
    <script type="application/ld+json">
      {
		"description": "{{ description }}",
		"url": "{{ config.base_url }}",
        "@type": "WebSite",
        "image": "/logo.png",
		"headline": "{{ headline }}",
		"name": "{{ title }}",
        "@context": "https://schema.org"
      }
    </script>
    <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>

<body>
    <div class="container">
        <header> 
          <h1><a href="{{ config.base_url }}">{{ title }}</a></h1>
          <div class="nav__spacer"></div>
            <nav>
                {% block sidebar_nav %}
                {% for menu_link in config.extra.anpu_menu_links %}
                {% set link_url = menu_link.url | replace(from="$BASE_URL", to=config.base_url) %}
                <a class="nav__link" href="{{ link_url }}">{{menu_link.name}}</a>
                {% endfor %}
                {% endblock sidebar_nav %}
            </nav>
        </header>
        <main id="main" tabindex="-1">
            {% block content %}
            {% for page in section.pages %}
              <article class="post">
              <img class="header-img" height="300px" width="300px" src="/logo.png" alt="Gitea Open Letter logo">
                  <div class="content">
                      {{ page.content | safe }}
                  </div>
              </article>
			{% endfor %}
            {% endblock content %}


        </main>
    </div>
</body>
<!-- realaravinth: theme stolen from https://github.com/zbrox/anpu-zola-theme (MIT) -->
</html>
